language: julia
os:
  - linux
  - osx
julia:
  - 0.6
notifications:
  email: false
after_success:
  - julia -e 'cd(Pkg.dir("ReadStat")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(process_folder())'
